src/test/resources/ergz-gis/schema/common/gis-egrz-types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  targetNamespace="urn://x-artefacts-gis-ergz-types/1.1.1"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:egrzt="urn://x-artefacts-gis-ergz-types/1.1.1"
>

  <xs:complexType name="RequesterInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о лице, по запросу которого предоставляется выписка</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="UL" type="egrzt:OrganizationInfoType"/>
        <xs:element name="IP" type="egrzt:IpInfoType"/>
        <xs:element name="FL" type="egrzt:FlInfoType"/>
      </xs:choice>
      <xs:element name="RequestReceiveDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>Дата поступления запроса</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DeveloperOrganizationType">
    <xs:annotation>
      <xs:documentation>2.5 Cведения о застройщике (техническом заказчике), обеспечившем подготовку проектной документации</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="UL" type="egrzt:OrganizationInfoType"/>
      <xs:element name="IP" type="egrzt:IpInfoType"/>
      <xs:element name="FL" type="egrzt:FlInfoType"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="PreviousExpertiseResultsType">
    <xs:annotation>
      <xs:documentation>2.7 Cведения об использовании при подготовке проектной документации проектной документации повторного использования, в том числе экономически эффективной проектной документации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Number" type="egrzt:ActNumberType">
        <xs:annotation>
          <xs:documentation>Номер заключения экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="xs:date">
        <xs:annotation>
          <xs:documentation>Дата заключения экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PlannerOrganizationType">
    <xs:annotation>
      <xs:documentation>Cведения об индивидуальных предпринимателях и (или) юридических лицах, подготовивших проектную документацию</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="UL" type="egrzt:OrganizationInfoType"/>
        <xs:element name="IP" type="egrzt:IpInfoType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RightsOwnerType">
    <xs:annotation>
      <xs:documentation>2.9 Сведения о лице, которому принадлежит исключительное право на проектную документацию либо право на ее многократное использование, в том числе для подготовки на ее основе проектной документации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PublicFormationName" type="egrzt:OrgNameType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="UL" type="egrzt:OrganizationInfoType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OrganizationInfoType">
    <xs:annotation>
      <xs:documentation>Информация об организации (юридическом лице)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="egrzt:OrgNameType">
        <xs:annotation>
          <xs:documentation>Полное наименование</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="egrzt:ULInnType">
        <xs:annotation>
          <xs:documentation>ИНН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OGRN" type="egrzt:OGRNType">
        <xs:annotation>
          <xs:documentation>ОГРН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="egrzt:AddressType">
        <xs:annotation>
          <xs:documentation>Адрес</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Location" type="egrzt:AddressType">
        <xs:annotation>
          <xs:documentation>Место нахождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Email" type="egrzt:EmailType">
        <xs:annotation>
          <xs:documentation>Адрес электронной почты</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IpInfoType">
    <xs:annotation>
      <xs:documentation>Информация об ИП</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FirstName" type="egrzt:FLFirstNameType">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LastName" type="egrzt:FLLastNameType">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Patronymic" type="egrzt:FLPatronymicType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OGRNIP" type="egrzt:OGRNIPType">
        <xs:annotation>
          <xs:documentation>ОГРНИП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="egrzt:AddressType">
        <xs:annotation>
          <xs:documentation>Почтовый адрес</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Email" type="egrzt:EmailType">
        <xs:annotation>
          <xs:documentation>Адрес электронной почты</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FlInfoType">
    <xs:annotation>
      <xs:documentation>Информация о ФЛ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FirstName" type="egrzt:FLFirstNameType">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LastName" type="egrzt:FLLastNameType">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Patronymic" type="egrzt:FLPatronymicType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Snils" type="egrzt:SnilsType">
        <xs:annotation>
          <xs:documentation>СНИЛС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="egrzt:AddressType">
        <xs:annotation>
          <xs:documentation>Почтовый адрес</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Email" type="egrzt:EmailType">
        <xs:annotation>
          <xs:documentation>Адрес электронной почты</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AttachmentRefType">
    <xs:annotation>
      <xs:documentation>
        Ссылка из содержательной части запроса (заявки, ответа) на вложение, находящееся в том же СМЭВ-сообщении.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="attachmentId" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Идентификатор вложения, на которое ссылаемся. Должен быть равен значению
          //{urn://x-artefacts-smev-gov-ru/smev-core/client-interaction/basic/1.0}AttachedFile[n]/Id/text()
          того вложения, на которое нужно сослаться.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="DetachedSignAttachmentType">
    <xs:annotation>
      <xs:documentation>
        Вложение с открепленной ЭЦП
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Document" type="egrzt:AttachmentRefType"/>
      <xs:element name="Signature" type="egrzt:AttachmentRefType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SignedAttachmentsType">
    <xs:annotation>
      <xs:documentation>
        Подписанные вложения
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DetachedSignAttachment" type="egrzt:DetachedSignAttachmentType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="PositionType">
    <xs:annotation>
      <xs:documentation>Должность</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="150"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ActivityType">
    <xs:annotation>
      <xs:documentation>Направление деятельности</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="150"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SnilsType">
    <xs:annotation>
      <xs:documentation>СНИЛС</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{3}-[0-9]{3}-[0-9]{3} [0-9]{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EmailType">
    <xs:annotation>
      <xs:documentation>Адрес электронной почты</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="150"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ExpertiseConclusionFormType">
    <xs:annotation>
      <xs:documentation>Форма заключения экспертизы</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Государственная экспертиза"/>
      <xs:enumeration value="Негосударственная экспертиза"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ExpertiseObjectType">
    <xs:annotation>
      <xs:documentation>Вид объекта экспертизы</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Проектная документация"/>
      <xs:enumeration value="Проектная документация и результаты инженерных изысканий"/>
      <xs:enumeration value="Результаты инженерных изысканий"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ExpertiseObjectName">
    <xs:annotation>
      <xs:documentation>Наименование объекта экспертизы</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="500"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PrintoutNumberType">
    <xs:annotation>
      <xs:documentation>Номер выписки</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="36"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EstimatePriceCheckNumberType">
    <xs:annotation>
      <xs:documentation>Номер заключения о проверке достоверности определения сметной стоимости</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="36"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ExpertiseResultEconomyEfficiencyNumberType">
    <xs:annotation>
      <xs:documentation>Номер решения о признании проектной документации экономически эффективной проектной документацией повторного использования в соответствии с решением Министерства строительства и жилищнокоммунального хозяйства Российской Федерации</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="36"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ExpertiseResultType">
    <xs:annotation>
      <xs:documentation>Результат проведенной экспертизы</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Положительное заключение"/>
      <xs:enumeration value="Отрицательное заключение"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ActNumberType">
    <xs:annotation>
      <xs:documentation>Номер заключения экспертизы</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9][0-9]-[1-2]-[1-2]-[1-3]-[0-9]{6}-2[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DocumentationNameType">
    <xs:annotation>
      <xs:documentation>Название документации</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="200"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ObjectNameType">
    <xs:annotation>
      <xs:documentation>Наименование объекта капитального строительства</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="250"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AddressType">
    <xs:annotation>
      <xs:documentation>Адрес</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="500"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ULInnType">
    <xs:annotation>
      <xs:documentation>ИНН юридического лица</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{10}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="OGRNType">
    <xs:annotation>
      <xs:documentation>ОГРН</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{13}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="OGRNIPType">
    <xs:annotation>
      <xs:documentation>ОГРНИП</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{15}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="OrgNameType">
    <xs:annotation>
      <xs:documentation>Наименование организации (юридического лица)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="500"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FLFirstNameType">
    <xs:annotation>
      <xs:documentation>Имя физического лица</xs:documentation>
    </xs:annotation>
    <xs:restriction base="egrzt:RusName">
      <xs:maxLength value="150"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FLLastNameType">
    <xs:annotation>
      <xs:documentation>Фамилия физического лица</xs:documentation>
    </xs:annotation>
    <xs:restriction base="egrzt:RusName">
      <xs:maxLength value="150"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FLPatronymicType">
    <xs:annotation>
      <xs:documentation>Отчество физического лица</xs:documentation>
    </xs:annotation>
    <xs:restriction base="egrzt:RusName">
      <xs:maxLength value="150"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RusName">
    <xs:restriction base="xs:string">
      <xs:pattern value="[а-яА-ЯеЁ\-\s]+"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
